/* @media all and (max-width: 1000px) and (min-width: 700px) */

body {
  line-height: 1.9;
  position:relative;
  font-family: 'Rokkitt', serif;
  font-size:16px;
}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

div#col-2 ul, div#col-3 ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

div#col-1 h1 {
  color:#757575;
  text-shadow: 2px 2px 9px rgb(72, 73, 74);
  font-size:40px;
  text-align: center;
}

span.show {
  display: inline-block;
  width: 1em;
}

span.hide {
  display: none;
}

ol.show {
  display: block;
}

ol.hide {
  display: none;
}
