body{
  font-family: 'Roboto Slab', serif;
}
h1{
  text-align: center;
  color:#0057e7;
  font-size:40px;
  text-shadow: 2px 2px 10px #0057e7;
  text-transform: uppercase;
}
ol{
  font-size:20px;
}
ol li a{
  text-decoration: none;
  line-height: 2;
}
ol li a:hover{
  color:#304ffe;
  text-decoration:underline;
  text-shadow: 2px 2px 10px #304ffe;
}
ol li a span{
  color:#304ffe;
}
