ul.breadcrumb {
  padding-left:0px;
  background-color: lightgrey;
  display: inline;
  padding:10px 0px;
}
ul.breadcrumb li{
  display: inline;
  padding-left:20px;
  margin:
}
ul.breadcrumb li a{
  text-decoration: none;
  padding:10px;
}
ul.breadcrumb li a:hover{
  color:#000;
  text-shadow: 2px 2px 10px #000;
  background-color: rgba(7, 246, 10, .3);
}
ul.breadcrumb li::before{
  content: ">";
}
ul.breadcrumb li:first-child::before{
  content: "";
}
