body {
  width: 86%;
}

#info, #img, #sprache, #experience, #skills, #hobby {
  font-size:16px;
}

h3 {
  border-bottom:none;
  margin-bottom: 10px;
}

#img img {
  width:129px;
}

#info {
  position: absolute;
  min-height: 27vh;
  left: 1em;
  width: 60%;
  padding: 0 20px;
}

#info ul {
  border-left:1px solid #cbc3c3;
  padding-left: 30px;
  line-height: 2;
}

#img {
  position: absolute;
  min-height: 27vh;
  left: 68%;
  width:30%;
  padding:0;
}

#sprache {
  position: absolute;
  min-height: 20vh;
  left: 1em;
  top:43em;
  width: 90%;
}

#td-1 {
  padding-bottom: 25px;
}

#experience {
  position: absolute;
  min-height: 20vh;
  top:17.8em;
  width:50%;
}

table, #skills ul, #hobby ul, #education ul {
  margin:0 0 0 40px;
}

#experience td {
  min-width: 91px;
}

div#sprache table tr td:first-child {
  font-weight: normal;
}

#experience .td-w {
  min-width: 400px;
}

#skills {
  position: absolute;
  min-height: 40vh;
  left: 1em;
  top:28em;
  width: 77%;
  line-height: 2;
}

#hobby, #education {
  position: absolute;
  min-height: 35vh;
  right: -4em;
  left: auto;
  top:18em;
  width:35%;
}

#education{
  top:29em;
}
