body {
  position:relative;
  background-color: #fafafa;
  line-height: 1.5;
  font-family: 'Dosis', sans-serif;
  color: #757575;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bitter', serif;
  color: #616161;
  border-bottom: 1px solid #616161;
  padding-bottom: 10px;
}

div#info table tr td:first-child, div#sprache table tr td:first-child {
  font-weight: bold;
  color: #757575;
}

ul {
  list-style: none;
  padding:0px;
}
